#!/usr/bin/make -f

%:
	dh $@

SLF4J_VERSION = 1.7.7
SLF4J = slf4j-$(SLF4J_VERSION)

override_dh_auto_build:
	./gradlew jar

# Do not install init script automatically
override_dh_installinit:

DESTDIR = debian/kloak
override_dh_auto_install:
	install -m 755 -d $(DESTDIR)/etc/kloak
	install -m 644 config/*.properties $(DESTDIR)/etc/kloak
	install -m 755 -d $(DESTDIR)/usr/lib/kloak
	for i in `ls | grep -vE config\|debian\|perf\|examples\|gradle\|system_test`; do \
	    cp -r $$i $(DESTDIR)/usr/lib/kloak || exit $$?; \
	    done
	find $(DESTDIR)/usr/lib/kloak -type f -a \
	    \( -name \*.java -o -name \*.class -o \
	    -name \*.scala -o -name \*.gradle -o -name \*.MF -o -name \*.html \) \
	    -print -delete
	for i in `seq 10`; do \
	    find $(DESTDIR) -type d -empty -print -exec rmdir '{}' ';' || :; \
	    done
	find $(DESTDIR)/usr/lib/kloak -type f -a \
	    \( -name README\* -o -name LICENSE -o -name NOTICE -o -name HEADER \) \
	    -print -delete || :
	find $(DESTDIR)/usr/lib/kloak -type d -a \
	    \( -name test -o -name src -o -name tmp \) \
	    -print -exec rm -rf '{}' ';' || :
	ln -s /etc/kloak $(DESTDIR)/usr/lib/kloak/config
	ln -s /var/log/kloak $(DESTDIR)/usr/lib/kloak/logs
	sed -i 's#/tmp/zookeeper#/var/lib/kloak/zookeeper#' $(DESTDIR)/etc/kloak/zookeeper.properties
	sed -i 's#/tmp/kloak-logs#/var/lib/kloak/logs#' $(DESTDIR)/etc/kloak/server.properties
	install -m 755 -d $(DESTDIR)/var/lib/kloak $(DESTDIR)/var/log/kloak
